<h1>Send#get_address</h1>
<p>Find me in app/views/send/get_address.html.erb</p>

<%= form_tag send_send_email_path do %>
  <p>Address: <%= email_field_tag :address %></p>
  <%= submit_tag %>
<% end %>
