  <div class="survey-item pure-g">
    <div class="pure-u-3-4">
    <div class="survey-name"><%= survey.title %></div>
    <div class="survey-desc"><%= survey.description %></div>
    <%= link_to 'Show', survey, remote: true %>
    </div>
  </div>
