// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.
// You can use CoffeeScript in this file: http://coffeescript.org/

// $(function () {
//
//

<button onclick="showPartial()">Click me</button>

$('#main').html(<%= render partial: "app/views/surveys/show.html.erb"%>);





// $('.pure-u-1-2').html("<%= j (render 'form') %>");
